/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #231F20;
}

/* Navigation Styles */
ul {
  margin: 50px auto 0;
  padding: 0;
  list-style: none;
  color: white;
  display: block;
  width: 100%; /* Change width to 100% for responsiveness */
  text-align: center;
}
li {
  display: block;
  margin-bottom: 10px; /* Add spacing between list items */
  position: relative;
  padding: 15px 0;
}

/* Anchor Styles (Navigation Links)*/
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
/* Anchor Hover Styles*/
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}
/* Media Query for Responsive Navigation */
@media screen and (max-width: 600px) { /* Adjust max-width to target smaller screens */
  ul {
    margin-top: 40px;
    display: block; /* Change display to block for smaller screens */
    width: auto; /* Reset width to auto */
  }
  li {
    display: block; /* Change display to block for smaller screens */
    margin-bottom: 10px; /* Add spacing between list items */
  }
}




h1 {
  color: black;
  margin: 2px;
}

p {
  color:black;
  margin-top: 12px;
  margin-bottom: 12px;

}

p2 {
  color: white;
}

h4 {
  font-size: 58px;
  margin-left: 30px;
}

.subtitle {
  font-size: 24px;
  font-weight: 200;
  margin-left: 40px;
  color:#89B6A5;
}

header {
  background-color: #353535;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  margin-right: 1rem;
}

header ul li a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 2rem;
}

section h2 {
  margin-bottom: 1rem;
  color: #427375;
}

section ul {
  list-style: none;
  color:#427375;
}

footer {
  background-color: #353535;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

#contactForm .box{
  display: block;
  width: 100%;
  background: transparent;
  color: #fff;
  font-size: 3vmin;
  opacity: 0.5;
  padding: 1.5vmin;
  box-sizing: border-box;
  margin: 2vmin 0;
}
#contactForm .box:focus {
  opacity: 1;
}

#contactForm #message {
  min-height: 25vmin;
}

#contactForm .btn {
  background: #2e5052;
  opacity: 0.5;
  border: none;
  padding: 10px;
  font-size: 20px;
}
#contactForm .btn:hover {
  opacity: 1;
}

#contactForm p {
  display: inline;
  font-size: 3vmin;
  font-family: Arial;
  opacity: 0.5;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #89B6A5;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #555;
}


.bento-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.project {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.project img {
  max-width: 100%;
  height: auto;
}

.project h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.project p {
  margin-bottom: 10px;
}
